{% extends "base.html" %}

{% block content %}
    <h2>Listado de Publicaciones</h2>
    <ul>
        {% for publicacion in publicacion_list %}
            <li>
                <strong>{{ publicacion.titulo }}</strong> - {{ publicacion.autor }}
                <br>
                <a href="{% url 'publicaciones:detalle_publicacion' publicacion.id %}">Ver detalle</a>
            </li>
            <br>
        {% empty %}
            <li>No hay publicaciones aún.</li>
        {% endfor %}
    </ul>
{% endblock %}